<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>

		<listener class-name="amzon.Listeners.Listeners" />

	</listeners>


	<test thread-count="5" name="Test">
		<classes>
			<class name="amazon.Test.ProductDeatailsTest" />
			<class name="amazon.Test.SignOutTest" />
			<class name="amazon.Test.SearchResultsTest" />
			<class name="amazon.Test.SignInTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
